M4_CONTAINER_NAME=m4-vstain
M4_IMAGE_NAME=m4-vstain
M4_IMAGE_TAG=latest
M4_PORT=5005
M4_MAX_BATCH_SIZE=64
M4_IPV4_ADDRESS=172.29.1.10
M4_DOCKER_NETWORK_NAME=m4_infer_net
M4_DOCKER_SUBNET=172.29.1.0/24
M4_DOCKER_GATEWAY=172.29.1.1
TZ=Asia/Shanghai
